/* HELPER */
.border {
  border: 1px solid black;
}
.rel {
  position: relative;
}
.central-right {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.central {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
 /* GENERAL HEIGHTS */
.h-80 {
  height: 80px;
}
.h-100 {
  height: 100px;
}
.h-150 {
  height: 150px;
}
.h-650 {
  height: 650px;
}
.h-1300 {
  height: 1300px;
}
/* GENERAL COLORS */
.blue {
  background-color: #2D3D50;
}
.green {
  background-color: #18BC9B;
}
.white {
  background-color: #FFFFFF;
}
.dark {
  background-color: #1A252F;
}
/* GENERAL */
body, span, a {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
h1 {
  font-size: 4rem;
  font-weight: 600;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
}
p {
  font-size: 2rem;
}
li {
  display: inline-block;
}
/* HEADER */
header .nav.blue {
  line-height: 100px;
}
header .nav.blue .left strong {
  font-size: 1.8rem;
}
header .nav.blue .right strong {
  font-size: 1.6rem;
}
header .nav.blue .right ul li:not(:first-child) {
  margin-left: 10%;
}
#nav-blue-button {
  border: none;
}
header .jumbo {
  text-align: center;
}
header .jumbo img {
  width: 200px;
  margin-top: 100px;
  margin-bottom: 50px;
}
header .jumbo h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
header .jumbo .star .line {
  display: inline-block;
  border: 2px solid white;
  width: 100px;
  margin-bottom: 10px;
}
header .jumbo .star .line.left {
  margin-right: 10px;
}
header .jumbo .star .line.right {
  margin-left: 10px;
}
header .jumbo .star span {
  font-size: 3rem;
}
header .jumbo p {
  margin-top: 20px;
  margin-bottom: 40px;
}
/* MAIN */
main .portfolio, main .contact {
  text-align: center;
  color: #2D3D50;
}
main h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}
main .star .line {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}
main .portfolio .star .line, main .contact .star .line {
  border: 2px solid #2D3D50;
}
main .star .line.left {
  margin-right: 10px;
}
main .star .line.right {
  margin-left: 10px;
}
main .star span {
  font-size: 3rem;
  margin-bottom: 40px;
}
main .portfolio .star span, main .contact .star span {
  color: #2D3D50;
}
main .portfolio img {
  height: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}
main .about {
  text-align: center;
  color: #FFFFFF;
}
main .about .star .line {
  border: 2px solid #FFFFFF;
}
main .about .star span {
  color: #FFFFFF;
}
main .about p {
  font-weight: 600;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#main-green-button {
  font-size: 2rem;
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 2px solid white;
  border-radius: 10px;
}
#main-bottom-button {
  font-size: 2rem;
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: none;
}
/* FOOTER */
footer .location {
  text-align: center;
}
footer .location h3 {
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 20px;
}
footer .location p {
  margin-bottom: 0px;
}
footer .location .icone {
  padding-left: 0px;
}
footer .location a i {
  font-size: 2rem;
  padding: 15px;
  border: 2px solid white;
  border-radius: 50%;
}
footer .location a i.fa-facebook {
  padding-left: 18px;
  padding-right: 18px;
}
#footer-last-p{
  margin-bottom: 60px;
}
footer .location p a {
  color: #18BC9B;
}
footer .copy span {
  display: inline-block;
  font-size: 1.3rem;
}
/* MEDIA QUERY */
@media screen and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer .location a i {
    margin-left: 5px;
  }
  main .portfolio img {
    height: 250px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .nav.blue .left strong {
    font-size: 2.8rem;
  }
  header .jumbo h1 {
    font-size: 6rem;
  }
  header .jumbo p {
    font-size: 3rem;
    margin-bottom: 60px;
  }
  h2 {
    font-size: 4rem;
  }
  footer .location a i {
    margin-left: 5px;
  }
}
@media screen and (min-width: 1200px) {
  header .nav.blue .left strong {
    font-size: 2.8rem;
  }
  header .jumbo h1 {
    font-size: 6rem;
  }
  header .jumbo p {
    font-size: 3rem;
    margin-bottom: 60px;
  }
  h2 {
    font-size: 4rem;
  }
  main .portfolio img {
    height: 250px;
  }
  footer .location a i {
    margin-left: 5px;
  }
}
